################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projetos/MKSistemas.Biblioteca/bin/Debug/netstandard2.0
